.dashboardCards {
  width: 55rem;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.dashboardCards div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 150px;
  color: #fff;
  text-align: center;
  box-shadow: none;
}

.dashboardCards div h1 {
  font-size: 4.3rem;
}

.dashboardCards div h2 {
  font-size: 1.3rem;
}

.item1 {
  background-color: #8c242c !important;
  scale: 1.1;
}

.buildingListContainer {
  display: flex;
  flex-direction: column;
  background-color: #ffd95e;
  margin: 0 auto;
  width: 95%;
  margin-top: 5rem;
  height: 500px;
  border-radius: 2rem;
  padding: 1.5rem 4rem;
}

.buildingList {
  display: flex;
  margin-top: 2rem;
  gap: 5%;
}

.buildingCards {
  width: 13rem;
  height: 220px;
}

.buildingTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: #8c242c;
  color: #fff;
}

.containerTitle {
  color: #8c242c;
}

.buildingCard {
  height: 300px;
  width: 450px;
}
