.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1024px;
}

.dashboardCards {
  width: 55rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.dashboardCards div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 150px;
  color: #fff;
  text-align: center;
  box-shadow: none;
}

.dashboardCards div h1 {
  font-size: 4.3rem;
}

.dashboardCards div h2 {
  font-size: 1.3rem;
}

.item1 {
  background-color: #8c242c !important;
  scale: 1.2;
}

.buildingListContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffd95e;
  margin: 0 auto;
  width: 1080px;
  min-height: 500px;
  border-radius: 2rem;
  padding: 1.5rem 4rem;
}

.buildingList {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 2rem;
  justify-items: center;
  row-gap: 2rem;
}

.buildingCards {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 180px;
  cursor: pointer;
}

.buildingTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: #8c242c;
  border-radius: 0 0 10px 10px;
  color: #fff;
}

.containerTitle {
  color: #8c242c;
}

.buildingCard {
  height: 300px;
  width: 450px;
}

.buildingImageContainer {
  height: 100%;
}
